Flask==3.1.1
Flask-SQLAlchemy==3.1.1
black==25.1.0
flake8==7.3.0
flake8-bugbear==22.1.11
flake8-pie==0.15.0
isort==5.9.3
pytest==7.0.1
click==8.2.1
types-Flask==1.1.6
types-Jinja2==2.11.9
types-MarkupSafe==1.1.10
types-Werkzeug==1.0.9
types-click==7.1.8
